.ui.secondary.pointing.menu {
    margin: 0;
}

.background-container {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/stripes-light.png');
    background-size: cover;
    background-attachment: fixed;
}

.ui.container {
    padding-top: 30px;
    padding-bottom: 60px;
}

.ui.container.button-holder {
    padding-bottom: 0;
}

.text-content {
    background-color: rgba(255,255,255,0.7);
    padding: 50px;
    border-radius: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.frame {
    background-repeat: no-repeat;
    /* border: 8px solid white; */
    box-sizing: border-box;
    border-radius: 25px;
    margin: 25px;
}

.frame1 {
    background-position: 0% 0%;
    transform: rotateZ(180deg);
}

.frame2 {
    background-position: 0% 100%;
}

.frame3 {
    background-position: 33% 100%;
}

.frame4 {
    background-position: 66% 100%;
}

.frame5 {
    background-position: 100% 100%;
}

.frame6 {
    background-position: 100% 0%;
    transform: rotateZ(180deg);
}

.frame7 {
    background-position: 66% 0%;
    transform: rotateZ(180deg);
}

.frame8 {
    background-position: 33% 0%;
    transform: rotateZ(180deg);
}